
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build outputs
node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/
server/dist/
dist-ssr/
build/

# Environment variables
.env
*.env
*.local
client/.env
server/.env

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
Desktop.ini


